*{
	margin-right: 0px;
	padding: 0px;
	color: #000000;
	font-family:Helvetica;
}


#menu {
  font-family: Arial;
}

#menu p {
  margin:0px;
  padding:0px;
}

#menu a {
  display: block;
  padding: 3px;
  width: 160px;
  background-color: #f7f8e8;
  border-bottom: 1px solid #eeeeee;
  text-align:center;
  border:1px solid #000000;
}

#menu a:link, #menu a:visited {
  color: #0066cc;
  text-decoration: none;
}

#menu a:hover {
  background-color: #336699;
  color: #ffffff;
}