*{
	margin-right: 0px;
	padding: 0px;
	color: #000000;
	font-family:Helvetica;
  	list-style-type:none;
}

div{
	padding: 0.1em;
}
p{
	background-color:#eeeeee;
	padding: 2em;
}

#contenido {
  font-size: 16px;
  background-color:#eeeeee;
  padding:2em;
}