*{
	margin: 0px;
	padding: 0px;
}

div{
	position: absolute;
}

#div1{

	background-color: red;
	z-index: 1;
	width: 350px;
	height: 350px
}

#div2{
	background-color: green;
	z-index: 2;
	width: 250px;
	height: 250px;
	top: 100px;
	left: 50px;
}

#div3{
	background-color: yellow;
	z-index: 3;
	width: 150px;
	height: 150px;	
	top: 150px;
	left: 100px;
}